.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background-color: #282c34;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;

  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.nav-links li{
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links li:hover{
  color: #61dafb;
  transform: translateY(-3px);
  transition:  all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px 20px;
  }

  .nav-links {
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
  }
}

