.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background-color: #282c34;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li{
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover{
  color: #61dafb;
}

