.projects {
  padding: 80px 20px;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.project-card {
  width: 25%;
  background: #242832;
  padding: 25px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(97,218,251,.25);
}

.project-card h3 {
  color: #61dafb;
}

.project-card p {
  margin: 15px 0;
  color: #ccc;
}

.project-card button {
  background: #61dafb;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-card button:hover{
  color: white;
  background-color: #1a1a1a;
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}