.skills {
  background: #3b82f6;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.skills ul{
  display: flex;
  justify-content: center;
  gap: 20px;

  list-style: none;
  padding: 0;
}

.skills li {
  background: #2563eb;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
}

.skills:hover{
  background: #61dafb;
  transform: translateY(-3px);
}